<div class="flex items-center gap-2 p-4">
  <div appCard class="w-fit">
    <h2 appCardHeader>Login</h2>
    <form
      appCardContent
      class="space-y-2"
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
    >
      <div class="space-y-1">
        <label appLabel for="login-email">Email</label>
        <input appInput id="login-email" type="email" formControlName="email" />
      </div>
      <div class="space-y-1">
        <label appLabel for="login-password">Password</label>
        <input
          appInput
          id="login-password"
          type="password"
          formControlName="password"
        />
      </div>
      <button appButton type="submit" [disabled]="loginForm.invalid">
        Log In
      </button>
    </form>
  </div>

  <div appCard class="w-fit">
    <h2 appCardHeader>Register</h2>
    <form
      appCardContent
      class="space-y-2"
      [formGroup]="registerForm"
      (ngSubmit)="onRegister()"
    >
      <div class="space-y-1">
        <label appLabel for="register-name">Name</label>
        <input appInput id="register-name" type="text" formControlName="name" />
      </div>
      <div class="space-y-1">
        <label appLabel for="register-email">Email</label>
        <input
          appInput
          id="register-email"
          type="email"
          formControlName="email"
        />
      </div>
      <div class="space-y-1">
        <label appLabel for="register-password">Password</label>
        <input
          appInput
          id="register-password"
          type="password"
          formControlName="password"
        />
      </div>
      <button appButton type="submit" [disabled]="registerForm.invalid">
        Register
      </button>
    </form>
  </div>
</div>
