<nav
  class="fixed bottom-0 left-0 right-0 z-50 border-t bg-white md:relative md:border-none"
>
  <div class="flex h-16 items-center justify-between">
    <div class="hidden md:block">
      <div
        class="flex items-center gap-1 rounded-l-2xl bg-linear-to-r from-blue-200 to-white to-35% p-2"
      >
        <lucide-icon
          [name]="ShoppingCartIcon"
          class="size-8 font-black text-blue-400"
        ></lucide-icon>
        <a routerLink="/" class="text-xl font-bold text-blue-400">BuyLocal</a>
      </div>
    </div>
    <div
      class="flex w-full items-center justify-around md:w-auto md:justify-center"
    >
      @for (navLink of navLinks(); track navLink.link) {
        <a
          [routerLink]="navLink.link"
          class="flex flex-col gap-1 items-center text-gray-600 hover:text-gray-900 md:ml-8 md:flex-row"
        >
          <lucide-icon
            [name]="navLink.icon"
            class="size-5 md:hidden"
          ></lucide-icon>
          <span class="text-xs md:text-base">{{ navLink.label }}</span>
        </a>
      }
    </div>
  </div>
</nav>
