<nav
  class="fixed bottom-0 left-0 right-0 z-50 border-t border-gray-300 bg-white md:relative md:border-none"
>
  <div class="flex h-16 items-center justify-between">
    <div class="hidden md:block">
      <app-logo></app-logo>
    </div>

    <div
      class="flex w-full items-center justify-around md:w-auto md:justify-center"
    >
      @for (navLink of navLinks(); track navLink.link) {
        <a
          [routerLink]="navLink.link"
          routerLinkActive="text-blue-400 md:bg-blue-50"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex flex-col items-center gap-1 rounded-md px-3 py-2 text-gray-500 transition-all duration-200 ease-in-out hover:text-blue-400 hover:md:bg-blue-50 hover:md:scale-105 md:ml-4 md:flex-row max-md:max-w-[60px]"
        >
          <lucide-icon
            [name]="navLink.icon"
            class="size-5"
            [class.text-blue-400]="isActive(navLink.link)"
          ></lucide-icon>
          <span
            class="text-xs md:text-base"
            [class.text-blue-400]="isActive(navLink.link)"
            >{{ navLink.label }}</span
          >
        </a>
      }
      @if (isAuthenticated()) {
        <button
          appButton
          (click)="logout()"
          variant="destructive"
          class="flex flex-col items-center gap-1 rounded-md px-3 py-2 max-md:bg-transparent max-md:text-red-500 transition-all duration-200 ease-in-out hover:md:scale-105 md:ml-4 md:flex-row max-md:max-w-[60px]"
        >
          <lucide-icon [name]="LogoutIcon" class="size-4"></lucide-icon>
          Logout
        </button>
      }
    </div>
  </div>
</nav>
